---

---

<div class="flex justify-center bg-pink-50 border-t-4 border-pink-100">
  <h2 class="text-3xl font-bold text-gray-800 mb-10 capitalize">
    Acerca de Nosotros
  </h2>
</div>
<section
  id="nosotros"
  class="pt-10 px-6 text-center md:flex md:justify-between md:items-center bg-pink-50"
>
  <div
    class="cards rounded-2xl shadow-xl transform hover:scale-105 transition duration-500 p-5 my-5 bg-white"
  >
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Nuestra Misión</h2>
    <p
      class="max-w-2xl mx-auto text-gray-800 font-medium text-lg leading-relaxed text-justify"
    >
      Ser una postrería boutique especializada en postres personalizados que
      brinden experiencias memorables a nuestros clientes, elaborados con
      ingredientes frescos y de alta calidad, cuidando cada detalle en sabor,
      estética y servicio. Nuestro compromiso es ofrecer momentos de alegría y
      satisfacción en cada bocado, fortaleciendo la creatividad y el trabajo en
      equipo como base de nuestro crecimiento.
    </p>
  </div>
  <div
    class="cards rounded-2xl shadow-xl transform hover:scale-105 transition duration-500 p-5 bg-white"
  >
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Nuestra Visión</h2>
    <p
      class="max-w-2xl mx-auto text-gray-800 font-medium text-lg leading-relaxed text-justify"
    >
      Consolidarnos como un negocio innovador y reconocido por la originalidad y
      excelencia de nuestros postres personalizados, siendo un referente en el
      entorno universitario y, a futuro, en nuestra comunidad local. Aspiramos a
      crecer de manera sostenible, expandiendo nuestras propuestas de diseño y
      sabor, sin perder la esencia de cercanía, calidad y pasión que caracteriza
      a Kefi Alta Postrería.
    </p>
  </div>
</section>
<section class="px-6 text-center md:mx-auto flex justify-center bg-pink-50">
  <div
    class="cards rounded-2xl shadow-xl transform hover:scale-105 transition duration-500 p-5 my-5 md:w-fit bg-white"
  >
    <h2 class="text-3xl font-bold text-gray-800 mb-6 mNuestra x-auto">
      Valores
    </h2>
    <p
      class="max-w-2xl mx-auto text-gray-800 font-medium text-lg leading-relaxed text-justify"
    >
      Nosotros queremos ser una empresa reconocida por tener buenos valores los
      cuales son: <br /> 1. Calidad y Excelencia: Compromiso con la calidad de los
      productos y servicios, utilizando ingredientes frescos y técnicas innovadoras.
      <br />2. Innovación y Creatividad: Fomentar la creatividad y la innovación
      en la creación de nuevos productos y diseños.<br />3. Atención al Cliente:
      Proporcionar un servicio excepcional y personalizado a los clientes,
      escuchando sus necesidades y preferencias.<br /> 4. Integridad y Honestidad:
      Actuar con integridad y honestidad en todas las interacciones con clientes,
      empleados y proveedores.<br /> 5. Responsabilidad Social: Compromiso con la
      comunidad y el medio ambiente, utilizando prácticas sostenibles y apoyando
      causas sociales.<br /> 6. Trabajo en Equipo: Fomentar un ambiente de trabajo
      en equipo, colaborativo y respetuoso, donde los empleados se sientan valorados
      y apoyados. <br />7. Pasión por la Repostería: Compartir la pasión por la
      repostería y el deseo de crear productos que brinden alegría y
      satisfacción a los clientes.<br /> 8. Flexibilidad y Adaptabilidad: Estar dispuestos
      a adaptarse a las necesidades cambiantes de los clientes y del mercado.<br
      /> 9. Higiene y Seguridad: Mantener altos estándares de higiene y seguridad
      en la producción y manipulación de alimentos. <br />10. Sostenibilidad:
      Compromiso con la sostenibilidad y la reducción del impacto ambiental en
      la producción y distribución de productos
    </p>
  </div>
</section>
