---
---
<nav id="navb" class="relative flex items-center py-4 px-6  shadow-md w-full">
  <h1 class="text-2xl font-bold  font-lecker font-display">Kefi</h1>
  <ul class="hidden md:flex space-x-6 text-black font-medium absolute left-1/2 transform -translate-x-1/2">
  
    <li><a href="#inicio" class="  hover:bg-pink-600 text-white font-semibold p-2 px-5 rounded-full  transition-transform transform hover:scale-105">Inicio</a></li>
    <li><a href="#nosotros" class="  hover:bg-pink-600 text-white font-semibold p-2 px-5 rounded-full  transition-transform transform hover:scale-105">Nosotros</a></li>
    <li><a href="#productos" class="  hover:bg-pink-600 text-white font-semibold p-2 px-5 rounded-full  transition-transform transform hover:scale-105">Postres</a></li>
  </ul>
</nav>
